#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.obj
*.exe
*.pdb
*.tlb
*.tlh
*.lib
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
ipch
testCaseCollection.xml
*.opensdf
*.sdf
*.opendb
*.db
.vs/
.vscode/
/packages
vcpkg_installed
/*.dll
/CrashDumps
/failed
/vs2022x64DebugCrashDumps
/vs2022x64ReleaseCrashDumps
/vs2022x86DebugCrashDumps
/vs2022x86ReleaseCrashDumps
/vs2019x64DebugCrashDumps
/vs2019x64ReleaseCrashDumps
/vs2019x86DebugCrashDumps
/vs2019x86ReleaseCrashDumps
/report.log
/build
